:root {
  --lexend: "Lexend", sans-serif;
}
.login {
  display: flex;
  height: 100vh;
  justify-content: space-around;
}
.login--left_side {
  margin-top: 31px;
}
.login--image {
  width: 554px;
  height: 100vh;
}
.login--logo {
  display: flex;
  flex-direction: row;
}
.login--logo_title {
  font-family: var(--lexend);
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin-top: 15px;
  color: #131212;
}
.login--title {
  margin-top: 30px;
  font-family: var(--lexend);
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 0px;
}
.login--title > span {
  color: #53d2bb;
}
.login--signup {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  font-family: var(--lexend);
}
.login--signup > p,
.login--signup > a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.login--signup > p {
  color: #ec7eda;
}
.login--signup > a {
  color: #53d2bb;
  text-decoration: none;
}
.login--form {
  margin-top: 26px;
}
.login--email_text,
.login--password_text {
  font-family: var(--lexend);
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}
.login--email,
.login--password {
  background: linear-gradient(134.17deg, #eef1f5 4.98%, #e6e9ef 94.88%);
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75),
    inset 5px 5px 10px rgba(166, 180, 200, 0.75);
  border-radius: 40px;
  height: 60px;
  width: 510px;
  padding-left: 35px;
}
.login--email:focus,
.login--email:focus-visible,
.login--password:focus,
.login--password:focus-visible {
  border: none;
  box-shadow: -7px -6px 15px rgb(255 255 255 / 75%),
    4px 8px 10px rgb(166 180 200 / 75%);
}
.login--email::placeholder,
.login--password::placeholder {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #686868;
}
.login--password_text {
  margin-top: 23px;
}
.login--password_edit {
  margin-top: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.login--switch_label_text {
  font-family: var(--lexend);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-left: 16px;
}

.login--switch_label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
}

.login--switch {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6,
    4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
}

.login--switch_state {
  display: none;
}

.login--switch_indicator {
  height: 100%;
  width: 200%;
  background: #ecf0f3;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6;
}

.login--switch_state:checked ~ .login--switch_indicator {
  transform: translate3d(25%, 0, 0);
  background: #0d6efd;
}
.login--forgot_password {
  font-family: var(--lexend);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ec7eda;
  text-decoration: none;
}
.login--or {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 23px;
}
.login--or > hr {
  border: 1px solid rgba(0, 0, 0, 0.45);
  width: 221px;
  height: 1px;
  background-color: black;
}
.login--or > h3 {
  font-family: var(--lexend);
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.login--buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login--google,
.login--facebook,
.login--submit_button {
  width: 221px;
  height: 64px;
  background: linear-gradient(134.17deg, #eef0f5 4.98%, #e6e9ef 94.88%);
  box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8),
    10px 10px 20px rgba(166, 180, 200, 0.7);
  border-radius: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  border: none;
}
.login--google > i {
  font-size: 38px;
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  margin-right: 6px;
  margin-left: 15px;
}
.login--facebook > i {
  color: #3b5998;
  background-image: linear-gradient(
    to bottom,
    transparent 20%,
    white 20%,
    white 93%,
    transparent 93%
  );
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
  font-size: 38px;
  margin-right: 6px;
  margin-left: 15px;
}
.login--submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 28px;
}
.login--submit_button {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
}
