.home--process {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 50px;
}
.home--process > h1 {
  font-family: var(--lexend);
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}
.home--process>img{
    margin-top: 50px;
    width: 100%;
}
